<!--core/templates/password_reset_complete.html-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<style>
    /* Custom CSS for login form font size */
    .password-reset-confirm-form-container form input,
    .password-reset-confirm-form-container form select,
    .password-reset-confirm-form-container form textarea {
        font-size: 20px; /* Adjust the value as needed */
    }

    .password-reset-confirm-form-container form label {
        font-size: 30px; /* Adjust the value as needed */
    }
    .password-reset-confirm-form-container {
        background-color: #e7e7c8;
    }
    .password-reset-confirm-form-container .content-section {
        color: var(--bs-golden-primary);
        font-size: 30px;
    }
</style>
<div class="container d-flex justify-content-center align-items-center vh-50">
    <div class="row">
        <div class="col-l-10 password-reset-confirm-form-container">
            <div class="content-section">
                <div class="alert alert-info">
                    Your password has been set.
                </div>
                <div>
                    <a class="btn btn-outline-secondary btn-lg mx-2" href="{% url 'login' %}">Sign In Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}